@model IEnumerable<ZonaMbulimit>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-left mb-4">Zonat e Mbulimit</h1>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            @foreach (var zone in Model)
            {
                <div class="col">
                    <div class="card shadow-lg h-100 border-0">
                        <div class="card-body p-4">
                            <h4 class="card-title text-primary">@zone.Zona</h4>
                            <h6 class="card-subtitle mb-2 text-muted">@zone.PikaPostare?.Pikapostare</h6>
                            @if (@zone.Statusi == 1)
                            {
                                <p class="card-text text-success">Hapur</p>
                            }
                            else
                            {
                                <p class="card-text text-danger">Mbyllur</p>
                            }
                            <hr>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @if (@zone.Statusi == 1)
                                    {
                                        <a asp-controller="ZonaMbulimit" asp-action="ModifikoZoneMbulimi" class="btn btn-sm btn-primary">Mbyll zonë mbulimi</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="ZonaMbulimit" asp-action="ModifikoZoneMbulimi" class="btn btn-sm btn-secondary" disabled>Mbyll zonë mbulimi</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
