@using PociDelivery.ViewModels;
@model ModifikoPikePostareViewModel; 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" asp-for="ShtoPikePostare">
    <div class="form-group">
        <label asp-for="Pikapostare">Pika Postare: </label>
        <input asp-for="Pikapostare" class="form-control" placeholder="Vendosni pikën postare">
        <span asp-validation-for="Pikapostare" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Vendndodhja">Adresa: </label>
        <input asp-for="Vendndodhja" class="form-control" placeholder="Vendosni adresën">
        <span asp-validation-for="Vendndodhja" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label>Statusi i pikës postare</label>
        <div>
            <label>
                <input asp-for="Statusi" type="radio" name="Statusi" value="1" />
                Hapur
            </label>
            <label>
                <input asp-for="Statusi" type="radio" name="Statusi" value="0" />
                Mbyllur
            </label>
        </div>
        <span asp-validation-for="Statusi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Data:</label>
        <input asp-for="CreatedOn" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="CreatedOn" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Ruaj</button>
</form>